body {
    padding: 20px;
}

h1{
    text-align: center;
    padding-top: 10vh;
}


h2{
    background-color: #0d6efd;
}



.form{
    text-align: center;
    margin: 10vh;
}

input {
    border-style:dashed;
    text-align: center;
    accent-color: black;
    border-color: black;
}